Source: eyepi-meta
Section: admin
Priority: important
Maintainer: Bruno Maitre <bruno.maitre@gmail.com>
Build-Depends: debhelper (>= 7.0.0~)
Standards-Version: 3.9.2

Package: eyepi-meta
Architecture: all
Depends: apt,
	 bash,
	 eyepi-fstab-config,
	 eyepi-inittab-config,
	 eyepi-iptables-config,
	 eyepi-network-config,
	 eyepi-ntp-config,
	 eyepi-procps-config,
	 eyepi-ssh-config,
	 eyepi-strongswan-config,
	 eyepi-syslogng-config,
	 sudo,
	 vim
Description: Eye Pi metapackage
